// Colors
$color-pale-gray-brown: #b38b79;
$color-forest-wolf: #e5e1db;
$color-deep-carmine: #a71b34;
$color-habrahabrs: #7d95b9;
$color-black: #000000;
$color-black-50: rgba($color-black, 0.5);

// Fonts
$ff-IBM: "IBM Plex Sans", "Arial", sans-serif;

// Transitions
$transition-300: ease-in 0.3s;
